html , body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont , Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Header*/
.header {
    width: 100%;
    height: 680px;
    margin: 0;
    padding: 0;
    background-image: url("rawpixel-771265-unsplash.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(1px);
}

/*Header1*/
.header1{
    padding: 0;
    z-index: 2;
    margin-top: -690px;
    position: absolute;
    width: 100%;
}

/*logo*/
.heaeder1 nav img{
    margin-left: 50px;
}

/*Navigasi Atas*/
.header1 nav{
    filter: blur(0);
    width: 100%;
    display: inline-block;
}
.header1 nav ul{
    margin-right: 50px;
    float: right;
}
.header1 nav ul li{
    list-style: none;
    display: inline-flex;
}
.header1 nav ul li a{
    margin-top: 10px;
    padding: 15px;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px gray;
    transition: 1s;
}
.header1 nav ul li a:hover{
    transition: 1s;
    border-radius: 30px;
    box-shadow: 2px 2px 7px 5px rgba(136, 136, 136, 0.2);
}

/*Navigasi bawah*/
.foot nav{
    width: 100%;
    display: inline-block;
    margin-top: 5px;
}
.zza{
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-right: -980px;
    z-index: 2;
    float: right;
    transition: 1s;
}
.zz{
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-right: -920px;
    z-index: 2;
    float: right;
    transition: 1s;
}
.zza:hover{
    color: blue;
    background-color: whitesmoke;
    border-radius: 10px;
    transition: 1s;
}
.zz:hover{
    color: purple;
    background-color: whitesmoke;
    border-radius: 10px;
    transition: 1s;
}
.foot nav img{
    margin-top: 10px;
    margin-left: 40px;
}
.foot nav ul{
    margin-right: 500px;
    float: right;
}
.foot nav ul li{
    list-style: none;
    display: inline-flex;
}
.foot nav ul li a{
    margin-top: 10px;
    padding: 15px;
    text-decoration: none;
    color: white;
    transition: 1s;
}
.foot nav ul li a:hover{
    transition: 1s;
    border-radius: 30px;
    box-shadow: 2px 2px 7px 5px rgba(136, 136, 136, 0.2);
}


/*Tengahan Atas*/
.header1 p {
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px gray;
    margin-top: 150px;
}

/*footer*/
.foot{
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    background-color: black;
}

.option {
    display: inline-flex;
    width: 100%;
}
.op1{
    transition: 1s;
    margin: 45px;
    height: 300px;
    width: 350px;
    background-image: url("IMG-20181118-WA0014.jpg");
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 7px 5px rgba(136, 136, 136, 0.2);
}
.op1:hover{
    margin: 45px;
    height: 300px;
    width: 350px;
    background-image: url("IMG-20181118-WA0014.jpg");
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 7px 5px rgba(136, 136, 136, 0.2);
}
.op1 p{
    z-index: 2;
    opacity: 0;
    margin-top: -84px;
    padding: 122px;
    background-color: #52dc90;
    text-align: center;
    transition: 1s;
}
.op1 p:hover{
    padding: 132px;
    color: black;
    opacity: 0.5;
    background-color: lightskyblue;
    transition: 1s;
}
.op1 h6{
    color: white;
    padding: 5px;
    background-color: #52dc90;
    width: 100px;
}
.op2{
    transition: 1s;
    margin: 45px;
    height: 300px;
    width: 350px;
    background-image: url("IMG-20181118-WA0001.jpg");
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 7px 5px rgba(136, 136, 136, 0.2);
}
.op2:hover{
    margin: 45px;
    height: 300px;
    width: 350px;
    background-image: url("IMG-20181118-WA0001.jpg");
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 7px 5px rgba(136, 136, 136, 0.2);
}
.op2 p{
    z-index: 2;
    opacity: 0;
    margin-top: -72px;
    padding: 122px;
    background-color: #52dc90;
    text-align: center;
    transition: 1s;
}
.op2 p:hover{
    padding: 132px;
    color: black;
    opacity: 0.5;
    background-color: lightskyblue;
    transition: 1s;
}
.op2 h6{
    color: white;
    padding: 5px;
    background-color: #52dc90;
    width: 100px;
}
.op3{
    transition: 1s;
    margin: 45px;
    height: 300px;
    width: 350px;
    background-image: url("IMG-20181118-WA0013.jpg");
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 7px 5px rgba(136, 136, 136, 0.2);
}
.op3:hover{
    margin: 45px;
    height: 300px;
    width: 350px;
    background-image: url("IMG-20181118-WA0013.jpg");
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 7px 5px rgba(136, 136, 136, 0.2);
}
.op3 p{
    z-index: 2;
    opacity: 0;
    margin-top: -72px;
    padding: 122px;
    background-color: #52dc90;
    text-align: center;
    transition: 1s;
}
.op3 p:hover{
    padding: 132px;
    color: black;
    opacity: 0.5;
    background-color: lightskyblue;
    transition: 1s;
}
.op3 h6{
    color: white;
    padding: 5px;
    background-color: #52dc90;
    width: 100px;
}